<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<header>
    <div class="container">
        <h1 class="logo">Динамика изменения эмоций</h1>
        <h1 class="rule">Загрузите файл .csv или .json, чтобы получить динамику изменения эмоций</h1>
    </div>
</header>
<div class="divider"></div>
<form method=post enctype=multipart/form-data>
    <input type=file name=file class="file" accept=".csv, .json">
    <input type=submit value=Загрузить class="button">
</form>
</body>
</html>